/* Default toast styles */
/* .Toastify__toast {
    font-size: 16px;
    padding: 15px;
    width: auto;
} */

/* Mobile specific styles */
@media (min-width:320px) and (max-width:640px) {
    .Toastify__toast {
        font-size: 12px !important;
        /* Reduce text size */
        padding: 8px 15px !important;
        /* Reduce padding */
        width: 75% !important;
        /* Make it fit better on small screens */
        min-height: 40px !important;
    }

    .Toastify__toast-container {
        width: 100% !important;
        /* Prevent it from looking too big */
    }

    .Toastify__toast-body {
        margin: 0 !important;
        padding: 5px !important;
    }

    .Toastify__close-button {
        width: 18px !important;
        height: 18px !important;
    }
}