/*** Overview Slick Style ***/
.overviewSlickStyle .slick-dots {
    bottom: 25px !important;
}

.overviewSlickStyle .slick-dots li button:before {
    color: #888 !important;
    font-size: 14px !important;
    background-color: #fff;
    border: 2px solid #888;
    border-radius: 50%;
    line-height: 19px !important;
}