/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "sans-serif";
  scroll-behavior: smooth;
}

/* header hamburger button style */
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #FF197D;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}





/* / MindfulBeauty Calendar Ui Design / */

.react-datepicker__month-container {
  float: none;
  width: 100%;
}

.react-datepicker {
  color: #fff;
  border: none !important;
  width: 100%;
}

.react-datepicker__month{
  margin: 1.5rem 0 !important;
}

.react-datepicker__header {
  border: none;
  border-bottom: none !important;
  padding: 1rem 0  0.5rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000 !important;
  margin-bottom: 1rem;

}

.react-datepicker__navigation {
  color: #fff;
}

.react-datepicker__day-name {
  all: unset;
  font-size: 0.8rem;
  font-weight: 600;
  color: #000 !important;
  margin: 1rem 0.2rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.react-datepicker__day-names,
.react-datepicker__week {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0rem;
}

.react-datepicker__day {
  all: unset;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  /* / / margin: 0.5rem 0.2rem; / / */
  padding: 0.2rem 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 50% !important;
}

.react-datepicker__day:hover {
  background-color: #FF197D !important;
  color: #fff;
  font-weight: 600;
  border: 1px solid #fff;
}

.react-datepicker__day--selected {
  font-weight: 600;
  background-color: #FF197D !important;
  color: #fff;
  border: none !important;
}

.react-datepicker__navigation-icon::before {
  border-color: #fff !important;
  top: 70% !important;
}

.react-datepicker__day--weekend:hover {
  background-color: #FF197D !important;
  color: #fff !important;
}

.react-datepicker__day--disabled {
  cursor: auto;
  background-color: #d6d6d6 !important;
  border-color: #d6d6d6 ;
  color: #aeaeae !important;
}

.react-datepicker__day--disabled:hover {
  cursor: auto;
  background-color: #d6d6d6 !important;
  border-color: #d6d6d6 ;
  color: #aeaeae !important;
}

.react-datepicker__navigation-icon::before {
  border-color: #000 !important;
}


/* / MindfulBeauty Calendar Ui Design / */